body {
    background-color: blue;
    text-align: center;
}

header {
    margin-top: 20px;
    height: 150px;
    font-weight: bold;
    color: white;
    border: 10px solid gray;
}

header h1 {
    text-align: center;
    padding: 25px;
    font-size: 60px;
    text-decoration: underline;
}